---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheckIcon from "../components/icons/ProfileCheck.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---
<Layout title="Portfolio | Matias Salinas" description="Portafolio de Matias Salinas - Desarrollador Backend">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/v2/D4E03AQGY7-awntVzoA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1689108647406?e=2147483647&v=beta&t=HYcbop-haYU_n-8zXICq84brpoyIt7M2pr9oT4LghuA"
        alt="Foto Matias Salinas"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola! Soy Matías Salinas<a
          href="https://linkedin.com/in/salinasmatias1/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-90 text-wrap max-w-[700px]">
        Ingeniero en Sistemas en formación. Especializado en desarrollo Backend.
        <span class="text-indigo-200/90 block mt-2 text-lg">
           Me dedico a diseñar la lógica y arquitectura interna de las aplicaciones web.
        </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/salinasmatias1/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/matisalinas7">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="mt-8">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProfileCheckIcon class="size-7" />
        Sobre mí
      </h2>
      <p class="text-lg text-gray-400 dark:text-gray-400">
        ¡Hola! Me llamo <span class="text-indigo-100 font-semibold">Matías</span> y soy <span class="text-indigo-100 font-semibold">Ingeniero en Sistemas en formación</span>.
        <br /><br />
        Cuento con experiencia académica creando aplicaciones web completas, pero mi enfoque es el <span class="text-indigo-100 font-semibold">Backend</span>.
        Disfruto diseñando <span class="text-indigo-100 font-semibold">Bases de Datos</span> eficientes, lógica de negocio compleja y <span class="text-indigo-100 font-semibold">APIs REST</span> seguras utilizando tecnologías como <span class="text-indigo-100 font-semibold">Java</span> y <span class="text-indigo-100 font-semibold">Spring Boot</span>.
      </p>
    </SectionContainer>
  </main>
</Layout>
